@require '~inkline/resources/css/index'

$box-height = 2.5rem

.box
    width: 100%
    display: block
    text-align: center
    border-radius: 4px
    background: linear-gradient(to bottom right, $brand-colors['primary'], $brand-colors['secondary'])
    color: white
    margin-bottom: $spacer
    height: $box-height
    line-height: $box-height
    padding: 0 ($spacer / 2)

    &.-tall
        height: $box-height * 3
        line-height: $box-height * 3

    .box
        background: white
        margin-top: ($spacer / 2)
        height: $box-height - $spacer
