//@import '~inkline/src/resources/css'


.box
    width: 100%
    display: block
    text-align: center
    border-radius: 4px
    background: linear-gradient(to bottom right, #2b5876, #2b5876)
    color: white
    margin-bottom: 1rem
    height: 2.5rem
    line-height: 2.5rem

    &.-tall
        height: 7.5rem
        line-height: 7.5rem
