<ol>
    <li>
        Core
        <ul>
            <li><router-link :to="{ name: 'docs.grid' }">Grid</router-link></li>
            <li><router-link :to="{ name: 'docs.layout' }">Layout</router-link></li>
            <li><router-link :to="{ name: 'docs.typography' }">Typography</router-link></li>
            <li><router-link :to="{ name: 'docs.images' }">Images</router-link></li>
            <li><router-link :to="{ name: 'docs.tables' }">Tables</router-link></li>
            <li><router-link :to="{ name: 'docs.colors' }">Colors</router-link></li>
            <li><router-link :to="{ name: 'docs.code' }">Code</router-link></li>
        </ul>
    </li>
    <li>Forms
        <ul>
            <li><router-link :to="{ name: 'docs.components.checkbox' }">Checkboxes</router-link></li>
            <li><router-link :to="{ name: 'docs.components.input' }">Inputs</router-link></li>
            <li><router-link :to="{ name: 'docs.components.input-number' }">Number Inputs</router-link></li>
            <li><router-link :to="{ name: 'docs.components.radio' }">Radios</router-link></li>
            <li><router-link :to="{ name: 'docs.components.select' }">Select</router-link></li>
            <li><router-link :to="{ name: 'docs.components.textarea' }">Textareas</router-link></li>
            <li><router-link :to="{ name: 'docs.components.form' }">Forms</router-link></li>
            <li><router-link :to="{ name: 'docs.components.form-group' }">Form Groups</router-link></li>
            <li><router-link :to="{ name: 'docs.components.form-label' }">Form Labels</router-link></li>
        </ul>
    </li>
    <li>Components
        <ul>
            <li><router-link :to="{ name: 'docs.components.alert' }">Alerts</router-link></li>
            <li><router-link :to="{ name: 'docs.components.badge' }">Badges</router-link></li>
            <li><router-link :to="{ name: 'docs.components.breadcrumb' }">Breadcrumbs</router-link></li>
            <li><router-link :to="{ name: 'docs.components.button' }">Buttons</router-link></li>
            <li><router-link :to="{ name: 'docs.components.button-group' }">Button Groups</router-link></li>
            <li><router-link :to="{ name: 'docs.components.card' }">Cards</router-link></li>
            <li><router-link :to="{ name: 'docs.components.collapsible' }">Collapsible</router-link></li>
            <li><router-link :to="{ name: 'docs.components.dropdown' }">Dropdowns</router-link></li>
            <li><router-link :to="{ name: 'docs.components.header' }">[x] Header</router-link></li>
            <li><router-link :to="{ name: 'docs.components.header' }">[x] List Group</router-link></li>
            <li><router-link :to="{ name: 'docs.components.media' }">[x] Media Object</router-link></li>
            <li><router-link :to="{ name: 'docs.components.modal' }">Modals</router-link></li>
            <li><router-link :to="{ name: 'docs.components.nav' }">Navs</router-link></li>
            <li><router-link :to="{ name: 'docs.components.navbar' }">Navbar</router-link></li>
            <li><router-link :to="{ name: 'docs.components.pagination' }">[x] Pagination</router-link></li>
            <li><router-link :to="{ name: 'docs.components.popover' }">Popovers</router-link></li>
            <li><router-link :to="{ name: 'docs.components.progress' }">Progress</router-link></li>
            <li><router-link :to="{ name: 'docs.components.tooltip' }">Tooltips</router-link></li>
        </ul>
    </li>
</ol>
