<ol>
    <li>
        Core
        <ul>
            <li><router-link :to="{ name: 'docs.grid' }">Grid</router-link></li>
            <li><router-link :to="{ name: 'docs.layout' }">Layout</router-link></li>
            <li><router-link :to="{ name: 'docs.typography' }">Typography</router-link></li>
            <li><router-link :to="{ name: 'docs.images' }">Images</router-link></li>
            <li><router-link :to="{ name: 'docs.tables' }">Tables</router-link></li>
            <li><router-link :to="{ name: 'docs.colors' }">Colors</router-link></li>
            <li><router-link :to="{ name: 'docs.code' }">Code</router-link></li>
        </ul>
    </li>
    <li>Forms
        <ul>
            <li><router-link :to="{ name: 'docs.components.checkbox' }">Checkboxes</router-link></li>
            <li><router-link :to="{ name: 'docs.components.input' }">Inputs</router-link></li>
            <li><router-link :to="{ name: 'docs.components.input-number' }">Number Inputs</router-link></li>
            <li><router-link :to="{ name: 'docs.components.radio' }">Radios</router-link></li>
            <li><router-link :to="{ name: 'docs.components.textarea' }">Textareas</router-link></li>
        </ul>
    </li>
    <li>Components
        <ul>
            <li><router-link :to="{ name: 'docs.components.alert' }">Alerts</router-link></li>
            <li>Badges</li>
            <li>Breadcrumbs</li>
            <li><router-link :to="{ name: 'docs.components.button' }">Buttons</router-link></li>
            <li><router-link :to="{ name: 'docs.components.button-group' }">Button Groups</router-link></li>
            <li><router-link :to="{ name: 'docs.components.card' }">Cards</router-link></li>
            <li>Carousels</li>
            <li>Collapse</li>
            <li>Dropdowns</li>
            <li>Input Groups</li>
            <li>Header</li>
            <li>List Group</li>
            <li>Media Object</li>
            <li>Modal</li>
            <li>Navs</li>
            <li>Navbar</li>
            <li>Pagination</li>
            <li>Popovers</li>
            <li>Progress</li>
            <li>Scrollspy</li>
            <li>Tooltips</li>
        </ul>
    </li>
</ol>
