<!--<div id="content">-->
    <!--<Container>-->
        <!--<aside>-->
            <!--<sidebar :items="items"></sidebar>-->
        <!--</aside>-->
        <!--<Container>-->
            <!--<router-view />-->
        <!--</Container>-->
    <!--</Container>-->
<!--</div>-->

<i-container>
    <i-row>
        <i-column>
            <i-layout vertical>
                <i-layout-aside>
                    <h4><router-link :to="{ name: 'home.index' }">Inkline</router-link></h4>
                    <table-of-contents></table-of-contents>
                </i-layout-aside>
                <i-layout-content>
                    <router-view />
                </i-layout-content>
            </i-layout>
        </i-column>
    </i-row>
</i-container>
