<!--<div id="content">-->
    <!--<Container>-->
        <!--<aside>-->
            <!--<sidebar :items="items"></sidebar>-->
        <!--</aside>-->
        <!--<Container>-->
            <!--<router-view />-->
        <!--</Container>-->
    <!--</Container>-->
<!--</div>-->

<Container>
    <Row>
        <Column>
            <Layout vertical>
                <LayoutAside>
                    <sidebar :items="items"></sidebar>
                </LayoutAside>
                <LayoutContent>
                    <router-view />
                </LayoutContent>
            </Layout>
        </Column>
    </Row>
</Container>
