<!--<div id="content">-->
    <!--<container>-->
        <!--<aside>-->
            <!--<sidebar :items="items"></sidebar>-->
        <!--</aside>-->
        <!--<container>-->
            <!--<router-view />-->
        <!--</container>-->
    <!--</container>-->
<!--</div>-->

<container>
    <row>
        <column>
            <layout vertical>
                <layout-aside>
                    <sidebar :items="items"></sidebar>
                </layout-aside>
                <layout-content>
                    <router-view />
                </layout-content>
            </layout>
        </column>
    </row>
</container>
