#layout
    #layout-aside-left
        display: block
        overflow-y: auto
        top: 0
        max-height: 100%
        max-height: 100vh

    #layout-aside-left
        position: fixed
        margin-left: 0

    #layout-sponsors
        position: fixed
        right: 0
        top: 0

    #layout-content
        margin: 0 auto
        max-width: 48rem

