@require '~inkline/resources/css/config/index'

.sidebar
    ul
        padding: 0
        list-style: none

        li
            font-weight: bold

            &.-header
                color: --colors['gray-50']
                font-size: 80%

            > ul
                padding-left: --spacer

                > li
                    font-weight: normal
